![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 5-MODUL. Machine Learning

### Portfolio uchun vazifa: Toshkent shahrida uylarning narxini aniqlash.

Ushbu amaliyotda sizning vazifangiz berilgan ma`lumotlar asosida Toshkent shahridagi uylarning narxini aniqlash.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

# Ustunlar ta'rifi
- `location` - sotilayotgan uy manzili
- `district` - uy joylashgan tuman
- `rooms` - xonalar soni
- `size` - uy maydoni (kv.m)
- `level` - uy joylashgan qavat
- `max_levels` - ja'mi qavatlar soni
- `price` - uy narxi

## Vazifani CRSIP-DM Metolodgiyasi yordamida bajaring.
<img src="https://i.imgur.com/dzZnnYi.png" alt="CRISP-DM" width="800"/>

Machine Learning uchun Loyiha qadamlari:

1-QADAM : BIZNESNI (FAOLIYAT) O"RGANISH

    1-bosqich: Jarayonni tushunish:

         a. Buyurtmachi - "Invest Construction" MChJ
        Buyurtma - Toshkent shahrida joylashgan uylarni keyngi yil uchun Regression (bashorat) qilib berish
        Mavjud DataSet - 'https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv'
    
         b. Buyurtmachi orqali suhbat:
        Biz yaratgan Regression Model, modelimizning chiqishi boshqa kattaroq modelning kirishiga ulanadi;
        Biz to'plagan DataSet ichidagi hozirgi narx ekspertlar tomonidan aniqlangan;
        Mavjud usulning ya'ni Modelimiz orqali emas, balki ekspertlar chiqargan natija aniqligi qanday? 20%
        (biz yaratgan Model, ekspertlarga to'langan puldan ancha arzon va aniqligi ancha yaxshi chiqishi kerak)
    
    2-bosqich: Analitik yondashuvni aniqlash:

        a. Qaysi Machine Learning turini qo'llaymiz? - Supervised
        b. Muammoning turi (Algorithm) qanday? - Regression
        c. Usul? - Offline 
        d. Modelimiz aniqligini qanday aniqlaymiz? -MAE, RMSE va boshqalar

2-QADAM : MA'LUMOTLARNI O'RGANISH

    3-bosqich: Ma'lumotlarga qo'yilgan talablar

    4-bosqich: Ma'lumotlarni yig'ish
    
    5-bosqich: Ma'lumotlarni talqin qilish

In [13]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# import libraries

In [57]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

# import dataset

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [58]:
df.shape

# check the shape of the dataset

(7565, 7)

In [94]:
df.info()

# check the information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7565 non-null   int32
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7565 non-null   object
dtypes: int32(1), int64(3), object(3)
memory usage: 384.3+ KB

In [83]:
df["size"].value_counts()
df["size"] = df["size"].replace("Площадьземли:1сотка", 10)
df["size"] = df["size"].replace("Площадьземли:1сот", 10)

# check the value counts of the size column and replace the value that error values

In [104]:
df['size'] = df['size'].astype(float).astype(int)
df["price"] = pd.to_numeric(df["price"], errors='coerce')

In [107]:
df["price"] = df["price"].replace([np.nan, np.inf, -np.inf], df["price"].mean())

In [108]:
df["price"].isna().sum()

0

In [109]:
df.describe()

             rooms          size        level   max_levels         price
count  7565.000000   7565.000000  7565.000000  7565.000000  7.565000e+03
mean      2.625644    113.242432     3.699273     6.038202  7.040069e+04
std       1.085201   1491.214391     2.237275     2.613271  6.363698e+05
min       1.000000      1.000000     1.000000     1.000000  0.000000e+00
25%       2.000000     50.000000     2.000000     4.000000  3.450000e+04
50%       3.000000     66.000000     3.000000     5.000000  4.600000e+04
75%       3.000000     86.000000     5.000000     9.000000  6.600000e+04
max      10.000000  70000.000000    19.000000    25.000000  5.200000e+07

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7565 non-null   int32
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7565 non-null   int64
dtypes: int32(1), int64(4), object(2)
memory usage: 384.3+ KB

In [112]:
(df["rooms"] ==0).sum()

0