![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 5-MODUL. Machine Learning

### Portfolio uchun vazifa: Toshkent shahrida uylarning narxini aniqlash.

Ushbu amaliyotda sizning vazifangiz berilgan ma`lumotlar asosida Toshkent shahridagi uylarning narxini aniqlash.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

# Ustunlar ta'rifi
- `location` - sotilayotgan uy manzili
- `district` - uy joylashgan tuman
- `rooms` - xonalar soni
- `size` - uy maydoni (kv.m)
- `level` - uy joylashgan qavat
- `max_levels` - ja'mi qavatlar soni
- `price` - uy narxi

## Vazifani CRSIP-DM Metolodgiyasi yordamida bajaring.
<img src="https://i.imgur.com/dzZnnYi.png" alt="CRISP-DM" width="800"/>

Machine Learning uchun Loyiha qadamlari:

1-QADAM : BIZNESNI (FAOLIYAT) O"RGANISH

    1-bosqich: Jarayonni tushunish:

         a. Buyurtmachi - "Invest Construction" MChJ
        Buyurtma - Toshkent shahrida joylashgan uylarni keyngi yil uchun Regression (bashorat) qilib berish
        Mavjud DataSet - 'https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv'
    
         b. Buyurtmachi orqali suhbat:
        Biz yaratgan Regression Model, modelimizning chiqishi boshqa kattaroq modelning kirishiga ulanadi;
        Biz to'plagan DataSet ichidagi hozirgi narx ekspertlar tomonidan aniqlangan;
        Mavjud usulning ya'ni Modelimiz orqali emas, balki ekspertlar chiqargan natija aniqligi qanday? 20%
        (biz yaratgan Model, ekspertlarga to'langan puldan ancha arzon va aniqligi ancha yaxshi chiqishi kerak)
    
    2-bosqich: Analitik yondashuvni aniqlash:

        a. Qaysi Machine Learning turini qo'llaymiz? - Supervised
        b. Muammoning turi (Algorithm) qanday? - Regression
        c. Usul? - Offline 
        d. Modelimiz aniqligini qanday aniqlaymiz? -MAE, RMSE va boshqalar

2-QADAM : MA'LUMOTLARNI O'RGANISH

    3-bosqich: Ma'lumotlarga qo'yilgan talablar

    4-bosqich: Ma'lumotlarni yig'ish
    
    5-bosqich: Ma'lumotlarni talqin qilish

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# import libraries

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

# import dataset

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [3]:
df.shape

# check the shape of the dataset

(7565, 7)

In [4]:
df.info()

# check the information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7565 non-null   object
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7565 non-null   object
dtypes: int64(3), object(4)
memory usage: 413.8+ KB

In [5]:
df["size"].value_counts()
df["size"] = df["size"].replace("Площадьземли:1сотка", 10)
df["size"] = df["size"].replace("Площадьземли:1сот", 10)

# check the value counts of the size column and replace the value that error values

In [6]:
df['size'] = df['size'].astype(float).astype(int)
df["price"] = pd.to_numeric(df["price"], errors='coerce')

In [7]:
df["price"] = df["price"].replace([np.nan, np.inf, -np.inf], df["price"].mean())

In [8]:
df["price"].isna().sum()

0

In [9]:
df.describe()

             rooms          size        level   max_levels         price
count  7565.000000   7565.000000  7565.000000  7565.000000  7.565000e+03
mean      2.625644    113.242432     3.699273     6.038202  7.133421e+04
std       1.085201   1491.214391     2.237275     2.613271  6.363182e+05
min       1.000000      1.000000     1.000000     1.000000  2.000000e+00
25%       2.000000     50.000000     2.000000     4.000000  3.500000e+04
50%       3.000000     66.000000     3.000000     5.000000  4.700000e+04
75%       3.000000     86.000000     5.000000     9.000000  6.800000e+04
max      10.000000  70000.000000    19.000000    25.000000  5.200000e+07

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7565 non-null   int32
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7565 non-null   float64
dtypes: float64(1), int32(1), int64(3), object(2)
memory usage: 384.3+ KB

In [12]:
(df["level"] == 0).sum()

# check the number of 0 values in the level column

0

In [13]:
(df["max_levels"] == 0).sum()

# check the number of 0 values in the max_levels column

0

3-QADAM: MA'LUMOTLARNI TAYYORLASH

In [14]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size = 0.2, random_state = 42)

# split the dataset into train and test set

In [23]:
train_set.shape, test_set.shape

#  show the shape of the train and test set

((6052, 7), (1513, 7))

In [17]:
housing_train = train_set.drop("price", axis = 1)
housing_train.head()

,location,district,rooms,size,level,max_levels
4552,"город Ташкент, Учтепинский район, Чиланзар ква...",Учтепинский,2,52,3,4
4450,"город Ташкент, Мирзо-Улугбекский район, Буюк И...",Мирзо-Улугбекский,4,187,2,5
1656,"город Ташкент, Яккасарайский район, Кушбеги",Яккасарайский,1,39,2,5
3570,"город Ташкент, Юнусабадский район, Юнусабад 6-...",Юнусабадский,2,74,3,6
6618,"город Ташкент, Шайхантахурский район, Беруни",Шайхантахурский,4,165,4,7

In [20]:
housing_labels = train_set["price"].copy()
housing_labels.head()

4552     37000.0
4450    210000.0
1656     27500.0
3570     46835.0
6618    140000.0
Name: price, dtype: float64

In [22]:
train_set["district"].value_counts()

Чиланзарский         1324
Мирзо-Улугбекский    1088
Учтепинский           719
Юнусабадский          703
Мирабадский           628
Яккасарайский         514
Яшнободский           382
Шайхантахурский       305
Олмазорский           225
Сергелийский          147
Янгихаётский           12
Бектемирский            5
Name: district, dtype: int64

4-QADAM: MODELLASH

In [24]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size = 0.2, random_state = 42)

In [ ]:
#

Linear Regression modelini yaratishda, object (categorical yoki string) ustunlari to'g'ridan-to'g'ri ishlatilmaydi, chunki regressiya faqat raqamli qiymatlar bilan ishlay oladi. Shu bilan birga, sizning object ustuningiz kerakli bo‘lsa, uni raqamli formatga o‘zgartirishingiz kerak. Bu jarayonni encoding deb atashadi.

In [31]:
# One-Hot Encoding qilish
df_encoded = pd.get_dummies(df, columns=['location', "district"], drop_first=True)

# Linear Regression uchun X va y
housing_train = df_encoded.drop('price', axis=1)  # Target ustunni olib tashlash
housing_labels = df['price']  # Target ustun

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(housing_train, housing_labels)

# made a model

LinearRegression()

In [ ]:
y_predict = model.predict(housing_train)
y_predict

# predict the model

array([43029.02266497, 56000.0000022 , 33512.27810599, ...,
       51418.87612346, 49806.32688782, 21150.24427799])

In [36]:
df_model = pd.DataFrame({'Actual': housing_labels, 'Predicted': y_predict})
df_model

       Actual     Predicted
0     52000.0  43029.022665
1     56000.0  56000.000002
2     37000.0  33512.278106
3     49500.0  58895.634465
4     55000.0  59596.490206
...       ...           ...
7560  24500.0   5747.851164
7561  32000.0  34764.254553
7562  40000.0  51418.876123
7563  11000.0  49806.326888
7564  22914.0  21150.244278

[7565 rows x 2 columns]

5-QADAM: MODELNI BAHOLASH

In [ ]:
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(housing_labels, y_predict)
print("RMSE =", np.sqrt(rmse))

# calculate the RMSE

RMSE = 176441.92441284357

In [46]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(housing_labels, y_predict)
print("MAE =", mae)

# calculate the MAE

MAE = 19447.52925619088

In [47]:
df_model = pd.DataFrame({'Actual': housing_labels, 'Predicted': y_predict})
df_model

       Actual     Predicted
0     52000.0  43029.022665
1     56000.0  56000.000002
2     37000.0  33512.278106
3     49500.0  58895.634465
4     55000.0  59596.490206
...       ...           ...
7560  24500.0   5747.851164
7561  32000.0  34764.254553
7562  40000.0  51418.876123
7563  11000.0  49806.326888
7564  22914.0  21150.244278

[7565 rows x 2 columns]